In [21]:
# importing pandas as pd
import pandas as pd
# importing numpy as np
import numpy as np

data = pd.read_csv("C:/Users/user/Downloads/Number_of_cases_and_incidence_rate_of_communicable_disease_by_state_Malaysia_2013-2018.csv")
data

       Year        State      Communicable diseases Number    Rate
0      2013        Johor                    Cholera    NaN     NaN
1      2013        Johor               Dengue fever   4750   136.6
2      2013        Johor  Dengue haemorrhagic fever     78    2.24
3      2013        Johor                  Dysentry       1    0.03
4      2013        Johor             Food poisoning   1447   41.61
...     ...          ...                        ...    ...     ...
2379  2016p  W.P. Labuan                  Syphillis      7    7.16
2380  2016p  W.P. Labuan               Tuberculosis    133  135.99
2381  2016p  W.P. Labuan                    Typhoid      4    4.09
2382  2016p  W.P. Labuan                     Typhus      -       -
2383  2016p  W.P. Labuan         Viral encephalitis      -       -

[2384 rows x 5 columns]

In [22]:
bool_series = pd.notnull(data["Rate"])
data[bool_series]

       Year        State      Communicable diseases Number    Rate
1      2013        Johor               Dengue fever   4750   136.6
2      2013        Johor  Dengue haemorrhagic fever     78    2.24
3      2013        Johor                  Dysentry       1    0.03
4      2013        Johor             Food poisoning   1447   41.61
5      2013        Johor                Hepatitis A      2    0.06
...     ...          ...                        ...    ...     ...
2379  2016p  W.P. Labuan                  Syphillis      7    7.16
2380  2016p  W.P. Labuan               Tuberculosis    133  135.99
2381  2016p  W.P. Labuan                    Typhoid      4    4.09
2382  2016p  W.P. Labuan                     Typhus      -       -
2383  2016p  W.P. Labuan         Viral encephalitis      -       -

[1960 rows x 5 columns]

In [23]:
bool_series = pd.notnull(data["Number"])
data[bool_series]

       Year        State      Communicable diseases Number    Rate
1      2013        Johor               Dengue fever   4750   136.6
2      2013        Johor  Dengue haemorrhagic fever     78    2.24
3      2013        Johor                  Dysentry       1    0.03
4      2013        Johor             Food poisoning   1447   41.61
5      2013        Johor                Hepatitis A      2    0.06
...     ...          ...                        ...    ...     ...
2379  2016p  W.P. Labuan                  Syphillis      7    7.16
2380  2016p  W.P. Labuan               Tuberculosis    133  135.99
2381  2016p  W.P. Labuan                    Typhoid      4    4.09
2382  2016p  W.P. Labuan                     Typhus      -       -
2383  2016p  W.P. Labuan         Viral encephalitis      -       -

[1960 rows x 5 columns]